<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="'/newsong/'+ ${album.id}" th:object="${songs}" method="post">
    <label>Album Title:</label>
    <input type="text" name="title"  required/>
    <label>Length:</label>
    <input type="text" name="length" required/>
    <label>Track Number:</label>
    <input type="number" name="trackNumber"  required />
    <input type="submit" value="Submit"/>
</form>

<div class="albums-list">
    <ul>
        <li>Title: <span th:text="${album.title}"></span></li>
        <li th:text="'Artist: ' + ${album.artist}"></li>
        <li th:text="'SongCount:' + ${album.songCount}"></li>
        <li th:text="'Length:' + ${album.length} + 's'"></li>
        <img th:src="${album.imageUrl}" class="image-album"/>
    </ul>
</div>
<div th:each="song:${album.songs}">
    <p th:text="'Title: '+${song.title}"></p>
    <p th:text="'Length: '+${song.length}"></p>
    <p th:text="'Track Number: '+${song.trackNumber}"></p>
</div>
</body>
</html>